.login {
    .container-fluid {
        height: 100vh;
        display: flex;
        background-color: #757575;
        align-items: center;
        background-image: url(assets/leftbg.svg);
        background-size: contain;
        background-repeat: no-repeat;

        .container {
            max-width: 1300px;

            .left {
                img {
                    max-width: 350px;

                }

                .heading {
                    font-size: 49px;
                    font-weight: 700;
                    padding-top: 50px;
                    color: white;
                }

                .sub-heading {
                    font-size: 23px;
                    font-weight: 500;
                    color: rgba($color: #fff, $alpha: 0.7);
                }
            }

            .right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 40px;

                .login_card {
                    max-width: 330px;
                    background-color: #000;
                    padding: 2.2rem 3rem;
                    color: white;
                    border-radius: 7px;

                    .form-row {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }

                    button {
                        background-color: transparent;
                        padding: 0.4rem 1.3rem;
                        outline: none;
                        border: 2px solid #8762a3;
                        color: #8762a3;
                        font-weight: 600;

                        &:hover {
                            border: 2px solid white;
                            color: white;
                            background-color: #8762a3;
                        }
                        &:active{                            
                            border: 2px solid white;
                            color: white;
                            background-color: #3c244e;
                        }
                        
                    }
                }
            }
        }

    }
}